# VIM swapfiles
*.sw[po]

test

temp

helm/kubernetes-cluster-prep/files/conjur-cert.pem

bin/test-workflow/policy/generated/*
tmp.*
bin/test-workflow/output/
bin/test-workflow/bash-lib/
bin/test-workflow/openshift/