# Ignore test workflow files
exclude-paths:
  - conjur-authn-k8s-client/bin/test-workflow/*

exclude-queries:
  # The following issue is being flagged in the k8s-cluster-test image, where it's not necessary to have a healthcheck
  - b03a748a-542d-44f4-bb86-9199ab4fd2d5 # Healthcheck Instruction Missing
  # The following issue is being flagged in the Helm templates because they don't speficy a namespace. This is
  # because a namespace is normally passed to the `helm install` command.
  - 611ab018-c4aa-4ba2-b0f6-a448337509a6 # Using Unrecommended Namespace
  # The following queries relate to unpinned versions, which we've decided to allow
  - 965a08d7-ef86-4f14-8792-4a3b2098937e # Apt Get Install Pin Version Not Defined
  - d3499f6d-1651-41bb-a9a7-de925fea487b # Unpinned Package Version in Apk Add
  - f45ea400-6bbe-4501-9fc7-1c3d75c32067 # Image Version Using 'latest'
  - 555ab8f9-2001-455e-a077-f2d0f41e2fb9 # Unpinned Actions Full Length Commit SHA
