apiVersion: v2
name: conjur-app-deploy
home: https://www.conjur.org
version: 0.1.1
description: A Helm chart deploying an application with a Summon sidecar
icon: https://www.cyberark.com/wp-content/uploads/2015/12/cybr-aim.jpg
keywords:
  - security
  - "secrets management"
sources:
  - https://github.com/cyberark/conjur-authn-k8s-client
  - https://github.com/cyberark/conjur-oss-helm-chart
  - https://github.com/cyberark/conjur
maintainers:
  - name: Conjur Maintainers
    email: conj_maintainers@cyberark.com
    
dependencies:
    - name: app-summon-sidecar
      repository: "file://charts/app-summon-sidecar"
      version: ">= 0.0.1"
      condition: app-summon-sidecar.enabled
    - name: app-secrets-provider-init
      repository: "file://charts/app-secrets-provider-init"
      version: ">= 0.0.1"
      condition: app-secrets-provider-init.enabled
    - name: app-secretless-broker
      repository: "file://charts/app-secretless-broker"
      version: ">= 0.0.1"
      condition: app-secretless-broker.enabled
    - name: app-secrets-provider-standalone
      repository: "file://charts/app-secrets-provider-standalone"
      version: ">= 0.0.1"
      condition: app-secrets-provider-standalone.enabled
