apiVersion: v1
kind: Service
metadata:
  name: test-app-secrets-provider-rotation
  labels:
    app: test-app-secrets-provider-rotation
spec:
  ports:
  - protocol: TCP
    port: 8080
    targetPort: 8080
  selector:
    app: test-app-secrets-provider-rotation
  type: {{ .Values.global.appServiceType }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: test-app-secrets-provider-rotation
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: test-app-secrets-provider-rotation
  name: test-app-secrets-provider-rotation
spec:
  replicas: 1
  selector:
    matchLabels:
      app: test-app-secrets-provider-rotation
  template:
    metadata:
      labels:
        app: test-app-secrets-provider-rotation
      annotations:
        conjur.org/container-mode: "sidecar"
        conjur.org/secrets-refresh-enabled: "true"
        conjur.org/secrets-refresh-interval: "10s"
        conjur.org/debug-logging: "true"
        conjur.org/authn-identity: {{ quote .Values.conjur.authnLogin }}
        conjur.org/secrets-destination: "file"
        conjur.org/conjur-secrets.rotation-app: |
          - test-secrets-provider-rotation-app-db/url
          - test-secrets-provider-rotation-app-db/username
          - test-secrets-provider-rotation-app-db/password
        conjur.org/secret-file-path.rotation-app: "./application.yaml"
        conjur.org/secret-file-format.rotation-app: template
        conjur.org/secret-file-template.rotation-app: |
          spring:
            datasource:
              platform: postgres
              url: jdbc:{{ printf `{{ secret "url" }}` }}
              username: {{ printf `{{ secret "username" }}` }}
              password: {{ printf `{{ secret "password" }}` }}
            jpa:
              generate-ddl: true
              hibernate:
                ddl-auto: update
        conjur.org/conjur-secrets.dummy: |
          - test-secrets-provider-rotation-app-db/counter
        conjur.org/secret-file-path.dummy: "./dummy.yaml"
        conjur.org/secret-file-format.dummy: template
        conjur.org/secret-file-template.dummy: |
          counter: {{ printf `{{ secret "counter" }}` }}
    spec:
      serviceAccountName: test-app-secrets-provider-rotation
      containers:
      - image: {{ printf "%s:%s" .Values.secretsProvider.image.repository .Values.secretsProvider.image.tag }}
        imagePullPolicy: {{ .Values.secretsProvider.image.pullPolicy }}
        name: cyberark-secrets-provider-for-k8s
        env:
          - name: MY_POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: MY_POD_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
        envFrom:
        - configMapRef:
            name: {{ .Values.global.conjur.conjurConnConfigMap }}
        lifecycle:
          postStart:
            exec:
              command:
              - /usr/local/bin/conjur-secrets-provided.sh
        volumeMounts:
        - name: conjur-access-token
          mountPath: /run/conjur
        - name: conjur-certs
          mountPath: /etc/conjur/ssl
        - name: podinfo
          mountPath: /conjur/podinfo
        - name: secrets
          mountPath: /conjur/secrets
        - name: conjur-status
          mountPath: /conjur/status
      - image: {{ printf "%s:%s" .Values.app.image.repository .Values.app.image.tag }}
        imagePullPolicy: {{ .Values.app.image.pullPolicy }}
        name: test-app
        command: [ "java", "-jar", "/app.jar", {{ printf "--spring.config.location=file:%s/application.yaml" .Values.app.secretsMountPath }} ]
        ports:
        - name: http
          containerPort: 8080
        livenessProbe:
          exec:
            command:
            - /mounted/status/conjur-secrets-unchanged.sh
          failureThreshold: 1
          initialDelaySeconds: 5
          periodSeconds: 5
          successThreshold: 1
          timeoutSeconds: 1
        readinessProbe:
          httpGet:
            path: /pets
            port: http
          initialDelaySeconds: 15
          timeoutSeconds: 5
        volumeMounts:
        - name: secrets
          mountPath: {{ .Values.app.secretsMountPath }}
        - name: conjur-status
          mountPath: /mounted/status
      {{- if eq .Values.app.platform "kubernetes" }}
      imagePullSecrets:
        - name: dockerpullsecret
      securityContext:
        fsGroup: 65534
        runAsGroup: 65534
        runAsUser: 65534
      {{- end }}
      volumes:
      - name: conjur-access-token
        emptyDir:
          medium: Memory
      - name: conjur-certs
        emptyDir:
          medium: Memory
      - name: podinfo
        downwardAPI:
          items:
          - path: annotations
            fieldRef:
              fieldPath: metadata.annotations
      - name: secrets
        emptyDir:
          medium: Memory
      - name: conjur-status
        emptyDir:
          medium: Memory
