authnK8s:
  # These are required values
  # goldenConfigMap: 
  # namespace: 

authnRoleBinding:
  create: true
  name: conjur-rolebinding

conjurConfigMap:
  create: true
  name: conjur-configmap

test:
  mock:
    enable: false
    conjurAccount: "mock-conjur-account"
    conjurApplianceUrl: "https://mock.example.com"
    conjurSslCertificate: "-----BEGIN CERTIFICATE-----\n
MIIC/ThisIsAMockThisIsOnlyAMock==\n
-----END CERTIFICATE-----\n"
    authnK8sAuthenticatorID: "mock-authenticator-id"
    authnK8sClusterRole: "mock-clusterrole"
    authnK8sServiceAccount: "mock-serviceaccount"
